h1 Main page
ul.menu
li= link_to 'Contacts', main_contacts_path
li= link_to 'Help', main_help_path
li= link_to 'About', main_about_path
li= link_to 'Ruby on Rails Website', 'http://rubyonrails.org', target: '_blank'

= link_to '返回首页', root_path, class: 'back-button'