<%# app/views/shared/_header.html.erb %>
<%= link_to "Home", root_path, class: "nav-link" %>
<header class="main-header">
  <nav>
    <ul class="main-menu">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", main_about_path %></li>
      <li><%= link_to "Contacts", main_contacts_path %></li>
    </ul>
  </nav>
</header>